:root {
  --main-font-size: 14px;
  --main-line-height: 150%;
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background: linear-gradient(180deg, #e0e0e0 0%, #ffffff 73.96%);
}

main {
  background-color: #fff;
  width: 58.75rem;
  height: 38.75rem;
  margin: 0 auto;
  border-radius: 15px 15px 0 0;
  padding: 1.75rem 1rem 2.25rem;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}
.news {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 12px;
  margin: 0 auto;
  width: 23.75rem;
  height: 200px;
  grid-template-areas:
    "title title . . . . . . . . more more"
    "divider divider divider divider divider divider divider divider divider . . ."
    "image image image image contents contents contents contents contents contents contents contents";
}
.news-title {
  color: #ed552f;
  grid-area: title;
}
.news-more-wrapper {
  width: 57px;
  grid-area: more;
}
.news-more-wrapper a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news-more-wrapper a img {
  width: 16px;
  height: 16px;
}
.divider {
  width: 266px;
  height: 1px;
  background: linear-gradient(90deg, #a9a9a9 -1.32%, #ffffff 100%);
  grid-area: divider;
}
.news-image {
  grid-area: image;
  text-align: center;
  margin-top: 12px;
}
.news-image img {
  box-shadow: 0px 15px 15px 5px #aaaaaa;
  display: block;
}
.news-image figcaption {
  margin-top: 12px;
}
.news-contents {
  margin-top: 12px;
  grid-area: contents;
}
.news-contents p:nth-child(2) {
  margin-top: 4px;
}
.news-contents p:last-child {
  text-align: justify;
  margin-top: 12px;
}
