body {
  background: linear-gradient(180deg, #e0e0e0 0%, #ffffff 73.96%);
  font-family: "Pretendard";
  font-style: normal;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
ul {
  padding-left: 0;
}
header {
  width: 940px;
  height: 138px;
  margin: 0 auto;
  display: block;
  border-radius: 0px 0px 15px 15px;
  background-color: white;
}
a {
  text-decoration: none;
}
.menu-wrap {
  padding: 8px 28px 40px;
  width: 100%;
  height: inherit;
  box-sizing: border-box;
}
.logo {
  width: 10.31; /* 165px */
  height: 2.19rem; /* 35px */
}

.logo__link {
  display: block;
  width: inherit;
  height: inherit;
  background: url(./images/web_cafe.png) no-repeat 0 / 100%;
}

/* SUBMENU */
.sub-menu {
  float: right;
  margin: 8px 0 -5px 8px;
  display: block;
  position: relative;
}
.sub-menu li {
  float: left;
  list-style: none;
  margin: 0 16px;
  position: relative;
}
.sub-menu li a {
  font-size: 14px;
  color: black;
}
.sub-menu li::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 5px;
  left: -18px;
  border-radius: 60%;
}
.sub-menu li::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 11px;
  right: -16px;
  border-radius: 60%;
}
.sub-menu li:first-child::after,
.sub-menu li:last-child::before {
  content: none;
}

.menu {
  box-sizing: border-box;
  width: 884px;
  height: 53px;
  background: linear-gradient(
    180deg,
    #edad2d 0%,
    #d16527 30.73%,
    #d16527 64.58%,
    #edad2d 100%
  );
  border-top: 2px solid #000000;
  float: left;
}
.menu .menu-option,
.menu .logo {
  list-style: none;
  border-right: 1px solid #ffffff;
  display: block;
  float: left;
}
.menu .logo {
  padding: 9px 20.5px;
  width: 165px;
}
.menu .menu-option:last-child {
  border-right: none;
}
.menu .menu-option {
  padding: 17px 24.5px;
  height: 53px;
  box-sizing: border-box;
}

.menu .menu-option:hover::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid black;
  margin: 15px auto 0;
}
.menu__name {
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-shadow: 1px 1px 0px #000000;
}
.menu__name:hover {
  color: #ffff00;
}

.menu::after {
  content: "";
  display: table;
  clear: both;
}
.menu__contents {
  display: none;
  position: absolute;
  min-width: 150px;
}
.menu__contents ul {
  height: 21px;
  width: auto;
  margin: 25px 0 0 0;
}
.menu__contents ul li {
  background: url(./images/list.png) no-repeat 0 0;
  background-size: contain;
  font-size: 14px;
  line-height: 21px;
  padding-left: 25px;
  display: inline-block;
  list-style: none;
}
.menu-option:hover .menu__contents {
  display: block;
}
