/* 숨김 콘텐츠 */
.ally,
legend {
  background: yellow;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
  /* 이전에 사용하던 방식인데, 스크롤이 잡힌다든지, 이슈가 있음 */
  /* top: -9999px; */

  /* 요소는 잡히지만, 숨김처리하는 방식 */
  /* visibility: hidden; */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  /* 영어권이라 가능 => 한글은 1로두면 ㅊ이나 ㅎ의 갓이 잘림 */
  line-height: 1.15;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  background: linear-gradient(180deg, #e0e0e0 0%, #ffffff 73.96%);
}

main {
  background-color: #fff;
  width: 58.75rem;
  height: 38.75rem;
  margin: 0 auto;
  border-radius: 0.9375rem 0.9375rem 0 0;
  padding: 1.75rem 1rem 2.25rem;
  box-sizing: border-box;
}
.event-and-site {
  padding: 0.75rem;
  background: linear-gradient(180deg, #cccccc 0%, #eeeeee 100%);
  border-radius: 5px;
  border: 1px solid #a3a3a3;
  width: 190px;
  height: auto;
}

.event {
  width: 166px;
  height: 177px;
  border-bottom: 1px solid #a3a3a3;
}
.site {
  padding-top: 0.5rem;
}
.site-title {
  font-size: 0.9375rem;
  font-weight: 700;
}
.site-title span {
  color: #ed552f;
}
.site-contents {
  background: #ffffff;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  margin-top: 0.5rem;
  height: 1.8125rem;
  overflow: hidden;
  transition: height 0.4s cubic-bezier(0.12, 0, 0.39, 0),
    padding-top 0.3s cubic-bezier(0.12, 0, 0.39, 0) 0.4s,
    padding-bottom 0.3s cubic-bezier(0.12, 0, 0.39, 0) 0.4s;
}
.site-contents:hover {
  height: 145px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.site-contents li a {
  display: block;
  width: 166px;
  height: 29px;
  padding-left: 1.5rem;
  line-height: 29px;
}
